* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

.toolbox-cont {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.toolbox-priority-cont {
  height: 3rem;
  width: 18rem;
  background-color: beige;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action-btn-cont {
  width: 10rem;
  height: 3rem;
  background-color: beige;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color {
  height: 1.5rem;
  width: 3rem;
}

.lightpink {
  background-color: lightpink;
}

.lightblue {
    background-color: lightblue;
}

.lightgreen {
    background-color: lightgreen;
}

.black {
    background-color: black;
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}