* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

.toolbox-cont {
  height: 5rem;
  background-color: #3b3030;
  display: flex;
  align-items: center;
}

.toolbox-priority-cont {
  height: 3rem;
  width: 18rem;
  background-color: beige;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action-btn-cont {
  width: 10rem;
  height: 3rem;
  background-color: beige;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color {
  height: 1.5rem;
  width: 3rem;
}

.lightpink {
  background-color: lightpink;
}

.lightblue {
  background-color: lightblue;
}

.lightgreen {
  background-color: lightgreen;
}

.black {
  background-color: black;
}

.add-btn {
  font-size: 1.5rem;
}

.remove-btn {
  font-size: 1.5rem;
}

.modal-cont {
  background-color: #3b3030;
  height: 60vh;
  width: 55vw;
  display: none;
  position: absolute;
  left: 25vw;
  top: 10vw;
}

.textarea-cont {
  outline: none;
  resize: none;
  border: none;
  width: 75%;
  background-color: beige;
  font-size: 2rem;
  padding: 2rem;
}

.priority-color {
  height: 3rem;
  width: 5rem;
}

.priority-color-cont {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  margin-top: 2rem;
  
  
}

.ticket-cont {
  height: 10rem;
  width: 17rem;
  background-color: beige;  
  margin-top: 1rem;
}

.ticket-color {
  height: 1rem;
  background-color: lightblue;
}

.ticket-id {
  height: 1.5rem;
  background-color: #3b3030;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: start;
}

.task-area {
  font-size: 1.35rem;
  height: (100% -1rem -1.5rem);
  padding: 5px;
}
